In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import os
import seaborn as sns

%matplotlib inline

In [2]:
df_prds = pd.read_csv('../bets/week3_bets_pw.csv')
df_prds.head()

   block_id  gain_per_block  n_products  product_cumsum
0      1580       129010.45           8               8
1       812       127505.05           8              16
2      2233       122435.85           8              24
3       388        84092.85           8              32
4      2306        82079.85           3              35

In [3]:
df_prds['ratio_gain'] = df_prds.gain_per_block / df_prds.n_products

In [4]:
df_prds.head()

   block_id  gain_per_block  n_products  product_cumsum   ratio_gain
0      1580       129010.45           8               8  16126.30625
1       812       127505.05           8              16  15938.13125
2      2233       122435.85           8              24  15304.48125
3       388        84092.85           8              32  10511.60625
4      2306        82079.85           3              35  27359.95000

In [5]:
df_prds = df_prds.sort_values('ratio_gain', ascending=False)
df_prds['new_cumsum'] = df_prds.n_products.cumsum()

In [6]:
df_prds.head(40)

,block_id,gain_per_block,n_products,product_cumsum,ratio_gain,new_cumsum
34,2359,43876.75,1,272,43876.750000,1
62,439,34051.60,1,490,34051.600000,2
4,2306,82079.85,3,35,27359.950000,5
155,1850,24125.85,1,1181,24125.850000,6
231,1180,19462.50,1,1753,19462.500000,7
335,96,16192.80,1,2497,16192.800000,8
0,1580,129010.45,8,8,16126.306250,16
1,812,127505.05,8,16,15938.131250,24
2,2233,122435.85,8,24,15304.481250,32
8,2000,65928.65,5,70,13185.730000,37
20,2037,52133.85,4,172,13033.462500,41
15,1551,55286.12,5,131,11057.224000,46
3,388,84092.85,8,32,10511.606250,54
83,1104,31243.80,3,645,10414.600000,57
208,2398,20280.75,2,1583,10140.375000,59
222,893,19707.10,2,1686,9853.550000,61
646,1036,9725.45,1,4713,9725.450000,62
257,2092,18552.10,2,1935,9276.050000,64
27,2208,46335.40,5,223,9267.080000,69
29,2578,45687.80,5,238,9137.560000,74
123,2068,26568.40,3,942,8856.133333,77
759,8,8455.30,1,5508,8455.300000,78
310,2060,16835.65,2,2308,8417.825000,80
22,482,50425.55,6,187,8404.258333,86
135,1875,25192.25,3,1024,8397.416667,89
319,393,16633.95,2,2367,8316.975000,91
25,1546,49092.70,6,208,8182.116667,97
147,753,24424.80,3,1124,8141.600000,100
791,819,8129.15,1,5733,8129.150000,101
157,943,24019.80,3,1192,8006.600000,104
9,387,64019.30,8,78,8002.412500,112
163,897,23688.55,3,1228,7896.183333,115
823,2609,7836.90,1,5942,7836.900000,116
16,303,54678.50,7,138,7811.214286,123
84,995,31180.45,4,649,7795.112500,127
86,473,31080.50,4,663,7770.125000,131
167,1115,22915.05,3,1253,7638.350000,134
380,587,14976.30,2,2836,7488.150000,136
32,2446,44553.50,6,263,7425.583333,142
397,1046,14532.00,2,2943,7266.000000,144

In [8]:
old_preds = pd.read_csv('../bets/week2_bets_pw.csv')

In [9]:
old_preds[old_preds.block_id.isin([560,1058,1580,315,1850,
                         1036,439,2359,96,2306,1412,2037,2493,1833,2169,1180])]

     block_id  gain_per_block  n_products  product_cumsum
1        1580        35702.90           8              16
2        1412        34207.60           5              21
5        2306        27636.75           3              42
8        2037        23744.55           4              59
11       1850        20779.20           1              78
12        560        20603.45           8              86
15        439        19243.95           1             107
39       2359        14945.05           1             300
76        315        12332.90           8             601
97         96        11236.35           1             758
457      2493         5709.00           1            3475
507      1833         5215.95           1            3826
549      1058         4974.95           2            4103
562      2169         4928.55           1            4186
572      1180         4878.60           1            4240
722      1036         4118.10           1            5328

In [10]:
old_preds.head(20)
# 560,1058,1580,315,1850,1121,1143

    block_id  gain_per_block  n_products  product_cumsum
0        812        44849.55           8               8
1       1580        35702.90           8              16
2       1412        34207.60           5              21
3       1143        32897.39          10              31
4       2233        32660.55           8              39
5       2306        27636.75           3              42
6       2000        26983.55           5              47
7        487        25425.68           8              55
8       2037        23744.55           4              59
9        387        22589.80           8              67
10      2574        22256.80          10              77
11      1850        20779.20           1              78
12       560        20603.45           8              86
13       314        20562.35          10              96
14       726        19286.35          10             106
15       439        19243.95           1             107
16      1546        18501.40           6             113
17       442        18223.50          10             123
18      1474        17976.80           7             130
19      1221        17882.90           9             139