In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import os
import seaborn as sns

%matplotlib inline

In [3]:
df_prds = pd.read_csv('../bets/week2_bets_pw.csv')
df_prds.head()

   block_id  gain_per_block  n_products  product_cumsum
0       812        44849.55           8               8
1      1580        35702.90           8              16
2      1412        34207.60           5              21
3      1143        32897.39          10              31
4      2233        32660.55           8              39

In [4]:
df_prds['ratio_gain'] = df_prds.gain_per_block / df_prds.n_products

In [5]:
df_prds.head()

   block_id  gain_per_block  n_products  product_cumsum  ratio_gain
0       812        44849.55           8               8  5606.19375
1      1580        35702.90           8              16  4462.86250
2      1412        34207.60           5              21  6841.52000
3      1143        32897.39          10              31  3289.73900
4      2233        32660.55           8              39  4082.56875

In [9]:
df_prds = df_prds.sort_values('ratio_gain', ascending=False)
df_prds['new_cumsum'] = df_prds.n_products.cumsum()

In [21]:
df_prds.head(40)

,block_id,gain_per_block,n_products,product_cumsum,ratio_gain,new_cumsum
11,1850,20779.20,1,78,20779.200000,1
15,439,19243.95,1,107,19243.950000,2
39,2359,14945.05,1,300,14945.050000,3
97,96,11236.35,1,758,11236.350000,4
5,2306,27636.75,3,42,9212.250000,7
2,1412,34207.60,5,21,6841.520000,12
8,2037,23744.55,4,59,5936.137500,16
457,2493,5709.00,1,3475,5709.000000,17
0,812,44849.55,8,8,5606.193750,25
6,2000,26983.55,5,47,5396.710000,30
507,1833,5215.95,1,3826,5215.950000,31
562,2169,4928.55,1,4186,4928.550000,32
572,1180,4878.60,1,4240,4878.600000,33
1,1580,35702.90,8,16,4462.862500,41
722,1036,4118.10,1,5328,4118.100000,42
4,2233,32660.55,8,39,4082.568750,50
89,2068,11618.35,3,698,3872.783333,53
90,1115,11579.35,3,701,3859.783333,56
102,1104,11106.60,3,795,3702.200000,59
271,393,7343.85,2,2084,3671.925000,61
108,753,10906.25,3,837,3635.416667,64
838,125,3620.65,1,6124,3620.650000,65
844,916,3603.15,1,6162,3603.150000,66
3,1143,32897.39,10,31,3289.739000,76
29,1551,16324.41,5,225,3264.882000,81
347,2470,6511.85,2,2648,3255.925000,83
67,1679,12891.70,4,533,3222.925000,87
7,487,25425.68,8,55,3178.210000,95
985,819,3164.10,1,7138,3164.100000,96
16,1546,18501.40,6,113,3083.566667,102
400,2060,6111.40,2,3046,3055.700000,104
82,2770,11975.35,4,647,2993.837500,108
438,2092,5819.10,2,3344,2909.550000,110
88,1080,11636.30,4,695,2909.075000,114
199,183,8526.60,3,1549,2842.200000,117
52,2578,14147.15,5,410,2829.430000,122
9,387,22589.80,8,67,2823.725000,130
210,1385,8367.10,3,1633,2789.033333,133
1096,8,2788.45,1,7883,2788.450000,134
471,1946,5566.80,2,3576,2783.400000,136

In [11]:
old_preds = pd.read_csv('../bets/week1_bets_pw.csv')

In [15]:
old_preds[old_preds.block_id.isin([560,1058,1580,315,1850,1121,1143])]

   block_id  gain_per_block  n_products  product_cumsum
0       560        37400.30           8               8
1      1058        36468.95           2              10
2      1580        34089.50           8              18
3       315        33143.30           8              26
4      1850        33016.95           1              27
5      1121        33003.90          10              37
7      1143        32315.99          10              55

In [13]:
old_preds.head(20)
# 560,1058,1580,315,1850,1121,1143

    block_id  gain_per_block  n_products  product_cumsum
0        560        37400.30           8               8
1       1058        36468.95           2              10
2       1580        34089.50           8              18
3        315        33143.30           8              26
4       1850        33016.95           1              27
5       1121        33003.90          10              37
6        487        32833.86           8              45
7       1143        32315.99          10              55
8        442        32240.40          10              65
9        851        29446.80          10              75
10       812        29376.75           8              83
11      1651        27715.70           7              90
12        21        27587.08          10             100
13      2145        27535.75          10             110
14      2574        27186.55          10             120
15      1964        27128.61           9             129
16      1438        26739.80           9             138
17      1446        26703.80          10             148
18      1403        25801.00          10             158
19       726        25671.60          10             168